@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5256;
}
.wrapper{
    width: 370px;
    border-radius: 7px;
    padding: 25px 30px;
    background: #ffff;
}
.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form{
    margin: 35px 0 20px;
}
form .row label{
    font-size: 18px;
    margin-bottom: 5px;
}
form :where(textarea, select, button){
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
}
form .row textarea{
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}
form .row .outer{
    height: 47px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #999;
}
form .row select{
    font-size: 14px;
}
form button{
    height: 52px;
    margin-top: 10px;
    background: #5256;
    color: #ffff;
    font-size: small;
    cursor: pointer;
}